.Menu {
    background-color: white;
    width: 60%;
    margin: auto;
    border-radius: 3%;
    padding-left: 4%;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
}

button {
    background-color: white;
    width: 16%;
    height: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
    margin: 1%;
    padding-top: 1%;
    padding-bottom: 1%;
    border: solid 0px;
}

button:hover {
    border: solid 1px;
    transform: scale(1.2, 1.2);
    border: transparent;
}

body {
    background-color: rgb(14, 241, 203);
}